@import "./bower_components/susy/sass/susy";

.testing {
  display: flex;
  width: percentage(5/7);
  // Percentage is a Sass function that will be evaluated to CSS when compiled
}

body {
    background-color: silver;
}

.container {
    @include container;
}