/*
# misc/_example.scss
*/

/*
# section headings
*/
section > h2 {
    display: block;
    position: relative;
    padding: 20px 20px 20px 100px;
    margin-bottom: 48px;
    margin-bottom: 4.8rem;
    color: $grey1;
    background: $white;
    &:before {
        position: absolute;
        top: 1px;
        left: 1px;
        bottom: 1px;
        padding: 20px 10px;
        margin-right: 5px;
        color: $white;
        background: $blue1;
        font-family: "FontAwesome";
        font-size: 1.75em;
        content: "\f135";
    }
}

/*
# External links
*/
a[href^="http"] {
    &:before {
        font-family: "FontAwesome";
        font-size: 85%;
        content: "\f08e";
        margin-right: 3px;
    }
}

/*
# E-mail-links
*/
a[href^="mailto"] {
    &:before {
        font-family: "FontAwesome";
        //font-size: 85%;
        content: "\f0e0";
        margin-right: 3px;
    }
}

/*
# Code coloring style-overrides
*/
.hljs,
.example-content,
div.example {
    padding: 10px !important;
    position: relative;
    @include bp(small) {
        padding: 20px !important;
    }
    z-index: 2;
}

code {
    border: 1px solid $white;
}

.hljs,
.files {
    font-family: $font-family-3;
}

ul.files,
ol.files,
.hljs {
    @include font-size(14,24);
}

html.js {
    background: transparent !important;
}

pre {
    margin-top: 20px;
    margin-bottom: 20px;
}

pre h4,
.example-heading {
    margin: 0;
    display: inline-block;
    position: relative;
    color: $grey2;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    @include bp(small) {
        padding: $tab-padding;
    }
}

.example,
.example-heading {  background: $white !important; }
.html {             background: $red2 !important; }
.css {              background: $blue2 !important; }
.js {               background: $yellow2 !important; }
.files {            background: $green2 !important; border: 1px solid $white; }

/*
# Example lists
 */
.custom-counter {
    @include custom-counter;
}

/*
# Example tabs
*/
.example-tabs {
    > .tabs {
        margin-left: 0px;
        margin-bottom: 0;
        border: 0;
    }
    > .tabs > li > a {
        border-color: $white;
        color: $grey3;
        color: rgba($grey1, 0.6);
        font-family: $font-family-2;
        padding: 10px;
        @include bp(small) {
            padding: $tab-padding;
        }
    }
    > .tabs > li > a:hover {
        color: $white;
        &.html {    background-color: $red1 !important; }
        &.css {     background-color: $blue1 !important; }
        &.js {      background-color: $yellow1 !important; }
        &.example { background-color: $grey3 !important; }
        &.files {   background-color: $green1 !important; }
    }
    > .tabs > .active > a,
    > .tabs > .active > a:hover {
        color: $grey1 !important;
        border-bottom-color: $grey5;
        &.html {    border-bottom-color: $red2 !important; }
        &.css {     border-bottom-color: $blue2 !important; }
        &.js {      border-bottom-color: $yellow2 !important; }
        &.example { border-bottom-color: $white !important; }
        &.files {   border-bottom-color: $green2 !important; }
        &.html {    background-color: $red2 !important; }
        &.css {     background-color: $blue2 !important; }
        &.js {      background-color: $yellow2 !important; }
        &.example { background-color: $white !important; }
        &.files {   background-color: $green2 !important; }
    }

    pre {
        margin-top: 0;
    }

    ul.files,
    ol.files {
        margin-top: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
    div.example {
        padding: 20px;
    }
}


/*
# Example code
*/

// Grid
.example-grid {
    @include container;
}

.example-col-1 {
    // This is equivalent to @include span(6 of 12);
    @include bp(small) {    @include span(6);  }
    // This is equivalent to @include span(4 of 12);
    @include bp(medium) {   @include span(4);  }
}
.example-col-2 {
    @include bp(small) {    @include span(6 last);  }
    @include bp(medium) {   @include span(4);  }
}
.example-col-3 {
    @include span(4 last);
}

.example-col-4 {
    @include bp(small) {    @include span(6);   }
    @include bp(medium) {   @include span(4);   }
    @include bp(big) {      @include span(3);   }
}

.example-col-5 {
    @include bp(small) {    @include span(6 last);  }
    @include bp(medium) {   @include span(8 last);  }
    @include bp(big) {      @include span(9 last);  }
}

.example-module,
.example-module-2 {
    border: 1px dotted $grey3;
    background-color: $grey5;
    padding: 20px;
    font-family: $font-family-3;
    font-size: 14px;
}

.example-module-2 {
    padding: 10px;
}

// This is equivalent to @include span(4 of 12);
.example-equal-1 {  @include bp(small) { @include span(4); }}
.example-equal-2 {  @include bp(small) { @include span(4); }}
.example-equal-3 {  @include bp(small) { @include span(4 last); }}

// Tooltips
.example-tooltip1 {
    @include tooltip;
}

.example-tooltip2 {
    @include tooltip(attr(data-tooltip), bottom);
}

/*
# Toolbelt
*/

// Triangles
.triangle01 {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: $blue1;
    color: $white;
    &:before {
        bottom: -10px;
        left: 50%;
        transform: translate(-50%, 0);
        @include triangle-absolute(bottom, 10px, $blue1);
    }
}

// Transition
.transition1 {
    display: inline-block;
    padding: 10px;
    border: 1px solid $grey4;
    color: $text-color;
    @include gradient-transition($grey5, $grey4, 0.25s);
}

// Center
.example-center-vert,
.example-center-both {
    max-width: 600px;
    height: 250px;
    background-color: $grey5;
}

.example-center-vert-item,
.example-center-both-item {
    padding: 20px;
    background-color: $grey4;
    width: 75%;
}

// Center vertical
.example-center-vert {
    @include center-vertical;
}

.example-center-vert-item {
    display: inline-block;
}

// Center both
.example-center-both {
    position: relative;
}

.example-center-both-item {
    @include center-both;
}

// Truncate Text
.example-truncate {
    @include truncate-text;
}

// Scrollbar-Styling
@include scrollbar (20px, $blue1, transparent);

// Positioning mixins
.example-pos-wrapper {
    position: relative;
    height: 300px;
}

.example-pos {
    background: $red1;
}

.example-pos1 { @include absolute(10px 20px null 40px); background: rgba($red1, 0.5); }
.example-pos2 { @include absolute(null 50px 20px); background: rgba($green1, 0.5); }
.example-pos3 { @include absolute(120px 0); background: rgba($blue1, 0.5); }
.example-pos4 { @include absolute(70px); background: rgba($yellow1, 0.5); }