/*
# gui/_navigation.scss
*/

.main-nav {
    z-index: z(main-nav);
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0;
    li {
        background: none;
    }
    @include bp(big) {
        left: auto;
        right: 13px;
        width: 600px;
    }
}

.main-nav .dropdown-toggle {
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    width: 40px;
    height: 40px;
    padding: 5px 8px;
    text-align: center;
    line-height: 20px;
    border: 1px solid;
    background-color: transparent;
    font-family: $font-family-2;
    text-transform: uppercase;
    color: $blue1;
    border-color: rgba($blue1, 0.3);
    border-radius: 5px;
    @include font-size(24, 20);
    transition: all 0.3s ease-out;

    i {
        font-family: "FontAwesome";
        width: 18px;
        text-align: center;
    }

    span {
        display: none;
    }

    &:hover {
        background-color: $blue1;
        color: $grey1;
    }

    @include bp(small) {
        width: auto;
        padding: 5px 12px;

        i {

        }

        span {
            display: inline;
            @include font-size(20, 20);
        }
    }
}

.main-nav .dropdown-toggle.active {
    color: $red1;
    border-color: rgba($red1, 0.3);

    &:hover {
        background-color: $red1;
        color: $grey1;
    }
}

.icon-open {
    display: inline-block;

    .active > & {
        display: none;
    }
}

.icon-close {
    display: none;

    .active > & {
        display: inline-block;
    }
}

.main-nav ul {
    @include no-list;
    @include clearfix;
    display: none;
    margin-top: 50px;
    @include bp(big) {
        margin-right: 7px;
    }
}


.main-nav a {
    font-family: $font-family-1;
    color: $blue1;
    text-decoration: none;
    float: left;
    padding: 13px 20px;
    display: block;
    border-bottom: 1px solid rgba($white, 0.1);
    border-right: 1px solid rgba($white, 0.1);
    background-color: rgba($black, 0.85);
    width: 50%;

    &:hover {
        background-color: $blue1;
        color: $grey1;
    }

    @include bp(small) {
        width: 33.333333%;
    }

    @include bp(medium) {
        width: 25%;
    }
}

.main-nav li:nth-child(2n-1) a {
    border-left: 1px solid rgba($white, 0.1);

    @include bp(small) {
        border-left: 0;
    }
}

.main-nav li:nth-child(3n-2) a {
    @include bp(small) {
        border-left: 1px solid rgba($white, 0.1);
    }

    @include bp(medium) {
        border-left: 0;
    }

}

.main-nav li:nth-child(4n-3) a {

    @include bp(medium) {
        border-left: 1px solid rgba($white, 0.1);
    }
}

.main-nav li a:focus {
    color: $blue2;
}

.main-nav li.active a {
    color: $white;
}